Hallo $text[0],
Wir haben deine Email erhalten und werden uns schnellstmöglich mit Dir in Verbindung setzen.

Mit freundlichen Grüßen
$text[2]


---------------------------------------------
 Die Kontakt-Mail
---------------------------------------------
$text[1]

