Es wurde ein neues Angebot eingetragen 

ersten 300 Zeichen des Eintrages:
-------------------------------------------------------------------------
$text[0]
-------------------------------------------------------------------------

$text[1]
-------------------------------------------------------------------------

Den gesamten Eintrag finden Sie auf der Homepage
