Neues Passwort bei $_SERVER[HTTP_HOST] vom: $text[4]

Hallo $text[0],

Du hast am: $text[4] bei uns einen Benutzer angelegt oder ein neues Passwort beantragt.
Falls du ein neues Passwort beantragt hast, wurde dein altes gelöscht, und ein neues vom System generiert.
Deine aktuellen Zugangsdaten findest du weiter unten in dieser Email.

Antworte bitte nicht auf diese Email. Die Mail wurde vom System erstellt und hat keine Möglichkeit Emails zu empfangen.

Möchtest Du uns dennoch kontaktieren, nutze bitte das Kontaktformular auf unserer Seite.


Name: $text[0] $text[1]

-------------------------------------------------------
#  Deine Zugangsdaten sind:
-------------------------------------------------------
#  Username: $text[2]
#  Passwort: $text[3]
#  Deine IP: $_SERVER[REMOTE_ADDR]
-------------------------------------------------------


$text[5]


Unter http://$_SERVER[HTTP_HOST] kannst Du jeder Zeit deine Daten einsehen und ändern.


---------------------------------------------------------
                   !!! ACHTUNG !!!
---------------------------------------------------------
 Die Anmeldung berücksichtigt Groß- und Kleinschreibung! 
---------------------------------------------------------
