Registrierung bei $_SERVER[HTTP_HOST] vom: $text[4]

Hallo $text[0],

Wir freuen uns dich bei uns begrüßen zu dürfen und Dir mitteilen zu können, 
dass dein Benutzer erfolgreich angelegt wurde.

Es ist nur noch ein Schritt zur Aktivierung deines Accounts notwendig um alle Funktionen nutzen zu können.
Klicke dazu einfach auf den folgenden Link um den Zugang zu aktivieren:

$text[5];


Deine aktuellen Zugangsdaten findest du weiter unten in dieser Email.

Antworte bitte nicht auf diese Email. Diese Nachricht wurde vom System erstellt 
und hat keine Möglichkeit Emails zu empfangen.

Möchtest Du uns dennoch kontaktieren, nutze bitte das Kontaktformular auf unserer Seite.


Name: $text[0] $text[1]

-------------------------------------------------------
#  Deine Zugangsdaten sind:
-------------------------------------------------------
#  Username: $text[2]
#  Passwort: $text[3]
#  Deine IP: $_SERVER[REMOTE_ADDR]
-------------------------------------------------------





Unter http://$_SERVER[HTTP_HOST] kannst Du jeder Zeit deine Daten einsehen und ändern.


---------------------------------------------------------
                   !!! ACHTUNG !!!
---------------------------------------------------------
 Die Anmeldung berücksichtigt Groß- und Kleinschreibung! 
---------------------------------------------------------
